@model RazorMultiViewEngineOptions

<p>
    <strong><i>@this.Path</i> (@this.GetType().Assembly.GetName().Name)</strong>
</p>

<form asp-action="ChangeConfig" asp-controller="Home" method="get">
    <input id="default" type="radio" name="configName" title="default" value="default" checked="@(ViewContext.HttpContext.Request.Cookies["vl"] is null ? "checked" : null)" />
    <label for="default">default</label>
    @foreach (var config in Model.ViewLibraryConfig)
    {
        <input id="@config.Key" type="radio" name="configName" title="@config.Key" value="@config.Key" checked="@(config.Key.Equals(ViewContext.HttpContext.Request.Cookies["vl"]?.ToString())? "checked" : null)" />
        <label for="@config.Key">@config.Key</label>

    }
    <button type="submit" asp-action="ChangeConfig" asp-controller="Home">Submit</button>
</form>