<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RM.Web</title>
    <link rel="stylesheet" href="~/app.css" />
</head>
<body>
    <header>
    </header>
    <div>
        <p>
            <strong><i>@this.Path</i> (@this.GetType().Assembly.GetName().Name)</strong>
        </p>

        <h3>Hello</h3>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <p>
            <strong><i>@this.Path</i> (@this.GetType().Assembly.GetName().Name)</strong>
        </p>

    </div>    
    <footer class="border-top footer text-muted">
        <vc:config-picker></vc:config-picker>
    </footer>
    <script src="~/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
